# INTRODUCCIÓN A PANDAS

###### Los datos consultados en este notebook proceden de :https://datos.cdmx.gob.mx/explore/dataset/consumo-agua/export/ y
https://www.gob.mx/cms/uploads/attachment/file/503374/Diccionario_Proyecciones_de_la_Poblacion_2016_2050.pdf

**PANDAS** es una biblioteca de python utilizada para  manipular y análizar  datos. El nombre deriva del término "panel data" (datos panel).

La estructura básica de **PANDAS** es el DataFrame.

Un **DataFrame** es un objeto bidimensional (tabla) que puede tener columnas con diferentes tipos de información. Los diferentes tipos de entradas incluyen diccionarios, listas, series e incluso otro DataFrame.

**1) IMPORTAR LA BIBLIOTECA**: Para utilizar PANDAS es necesario importar esta biblioteca así como Numpy

In [1]:
import pandas as pd
import numpy as np

# OJO: CORRE ESTA CELDA SÓLO EN CASO DE QUE LA INSTRUCCION PARA IMPORTAR PANDAS FALLE. DESPUÉS VUELVE A CORRER 1)

In [ ]:
#!pip install pip
#!pip install pandas
#!pip install numpy

**2) DISTINTAS FORMAS DE CREAR UN DATAFRAME**

**A) De una lista a un Serie:**

Para crear la serie debemos creamos una variable que contendrá los elementos de la serie, utilizar la instrucción que le indica a PANDAS que el contenido es una serie, y guardar los elementos de la serie entre paréntesis y corchete.

*Instrucción: pd.Series*

*Sintaxis: nombrevariable =Instrucción([elemento1,elemento2,....elementon]*

Por ejemplo, vamos a crear una serie con la lista de tus materias.

In [5]:
data_series = pd.Series(["Historia", "Estadística II", "Econometría",
                         "Filosofía", "Literatura"])
data_series

0          Historia
1    Estadística II
2       Econometría
3         Filosofía
4        Literatura
dtype: object

**B) De una lista de diccionarios a DataFrame:** 

Un listado de diccionarios puede convertirse en un DataFrame utilizando la **Instrucción pd.DataFrame.** Primero asiganos la lista de diccionarios a una variable y luego aplicamos la instrucción pd. Dataframe a dicha variable.

*Instrucción: pd. Dataframe*

*Sintaxis: nombredataframe=Instruccion(variable que contiene la lista de diccionarios)*
    
Un ejemplo clásico es la información de  los Estados de la Republica y su clave en INEGI

In [6]:
# Convertir una lista de diccionarios a DataFrame
#Sintaxis: nombrelistadic = [{"KEY":"VALUE","KEY":VALUE"},{"KEY":"VALUE","KEY":VALUE"}]
#nombredataFrame=pd.Dataframe(nombrelistadic)

listadiccionario = [{"ESTADO": "AGUASCALIENTES", "CLAVEINEGIESTADO":"01"},
                {"ESTADO": "ZACATECAS", "CLAVEINEGIESTADO":"32"}]

df_estados = pd.DataFrame(listadiccionario)
df_estados

           ESTADO CLAVEINEGIESTADO
0  AGUASCALIENTES               01
1       ZACATECAS               32

**C) De un diccionario de listas a un DataFrame**

Un diccionario creado a partir de varias listas puede convertirse en un DataFrame con la instrucción **pd.DataFrame**

*Sintaxis: nombredataFrame=pd.Dataframe({"lista1":[elemento 1,elemento 2,...,elemento n],"lista2":[elemento 1,elemento 2,...,elemento n],"lista n":[elemento n1,elemento n2,...,elemento nn]})*

In [7]:
dfpoblacion = pd.DataFrame(
    {"Delegación": ["Coyoacán", "Miguel Hidalgo"],
     "Claveinegi": ["090030001", "090160001"],
     "Población": ["620,416", "372,889"]})
dfpoblacion

       Delegación Claveinegi Población
0        Coyoacán  090030001   620,416
1  Miguel Hidalgo  090160001   372,889

# EJERCICIO

In [ ]:
# Crea un  DataFrame a partir de un diccionario de listas completando la información faltante
# = pd.DataFrame({
   # "": ["Carlos", "", "Rosa", , "Luis"],
    #"Edad": [15.00, 12.50, 10.00, 5.00, 1.00],
    # [1.75, 1.68, 1.64, 1.72, "N/D"]
#})

**D) Crear DataFrame a partir de un archivo externo.**

Regualarmente, en esta clase trabajaremos con arcivos de bases de datos externos, con formatos csv, xls, entre otros.
Para que Python "lea" y manipule los datos de dichas bases de datos, a veces es necesario importar la biblioteca correspondiente a cada extension, de acuerdo a los archivos que se quieran manipular.Tal como se ha trabajado en este notebook se debe utilizar la instrucción:-import x as - abreviatura de la biblioteca-

*Para mayor información te sugerimos estos enlaces:
http://www.developerpe.com/blog/cargar_panda_csv_txt_json_xlsx/
https://pandas.pydata.org/docs/user_guide/cookbook.html?highlight=read#data-in-out*

**Por ejemplo:
import csv**

En este caso **NO** será necesario debido a que la instalación de Pandas incluye csv.

**Para crar un DataFrame con información de un archivo externo**

**1)** Primero guardamos la ruta del archivo en una variable

In [2]:
#
aguacsv = "https://datos.cdmx.gob.mx/dataset/eb38823c-488a-49e8-a2cf-62e628fa246f/resource/2263bf74-c0ed-4e7c-bb9c-73f0624ac1a9/download/consumo-agua.csv"

**2)** Le damos un nombre a nuestro DataFrame y con ayuda de la instrucción **pd.read_csv**, leemos los datos del csv.

* ###### Ojo:la instrucción encoding no es estrictamente necesaria, pero nos ayudará a que todos los caracteres sean interpretados correctamente

In [3]:
consumodf = pd.read_csv(aguacsv, encoding = 'latin-1') 
# encoding = {UTF-8 , latin1, utf-8-sig}

###### Para ver el encabezado del del DataFRame utilizamos la instrucción .head(),  por default muestra las primeras 5 líneas.

Sintaxis: nombredataframe.head()

###### También podemos ver los últimos registros con tail()

Sintaxis: nombredataframe.tail()

In [4]:
consumodf.head()

,id,geo_point_2d,geo_shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.24,631.00,42.066667,3.05,3,3.05,57250,ALTO
1,1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,115.13,28.782500,7.32,3,7.32,57253,MEDIO
2,2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,197.96,32.993333,75.03,3,75.03,57255,POPULAR
3,3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,253.53,84.510000,84.51,3,253.53,57267,BAJO
4,4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.72,839.35,76.304545,121.57,3,243.14,57330,BAJO

* ###### Para ver la información de una columna en particular y sus primeros 10 registros utilizamos la sintaxis: nombredataframe["columna"].head(10)

In [6]:
consumodf["alcaldia"].head(10)
#consumodf.alcaldia.head(10)

0    GUSTAVO A. MADERO
1    GUSTAVO A. MADERO
2    GUSTAVO A. MADERO
3    GUSTAVO A. MADERO
4         AZCAPOTZALCO
5         AZCAPOTZALCO
6         AZCAPOTZALCO
7         AZCAPOTZALCO
8         AZCAPOTZALCO
9         AZCAPOTZALCO
Name: alcaldia, dtype: object

* ###### Para mostrar múltiples columnas utilizamos la  Sintaxis: nombredataframe[["columnaA","columnaB"]].head(n) -nota los corchetes dobles

In [7]:
consumodf[["alcaldia", "consumo_prom"]].head()

            alcaldia  consumo_prom
0  GUSTAVO A. MADERO     42.066667
1  GUSTAVO A. MADERO     28.782500
2  GUSTAVO A. MADERO     32.993333
3  GUSTAVO A. MADERO     84.510000
4       AZCAPOTZALCO     76.304545

* ###### Para saber cuántos datos tenemos utilizamos la sintaxis nombredataframe.shape

In [8]:
consumodf.shape

(71102, 18)

# FUNCIONES BÁSICAS DE PANDAS PARA ANALIZAR UN DATAFRAME 

Tal como está, nuestro DataFrame no nos permite revisar la información de forma sencilla, para ordenar y limpiar los datos que tenemos debemos realizar una serie de operaciones. Cada una de las instrucciones que se muestran a continuación pueden se guardadas en una variable para posteriormente ser utilizadas

* Para mostrar el nombre de todas las columnas que componen nuestro DataFrame utilizamos la instrucción **.columns**

 **Sintaxis:** nombredataframe.columns()

In [9]:
consumodf.columns

Index(['id', 'geo_point_2d', 'geo_shape', 'consumo_total_mixto', 'anio',
       'nomgeo', 'consumo_prom_dom', 'consumo_total_dom', 'alcaldia',
       'colonia', 'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

* La instrucción **.dtypes** a plicada al DataFrame regresa el tipo de datos de cada columna

In [10]:
consumodf.dtypes

id                        int64
geo_point_2d             object
geo_shape                object
consumo_total_mixto     float64
anio                      int64
nomgeo                   object
consumo_prom_dom        float64
consumo_total_dom       float64
alcaldia                 object
colonia                  object
consumo_prom_mixto      float64
consumo_total           float64
consumo_prom            float64
consumo_prom_no_dom     float64
bimestre                  int64
consumo_total_no_dom    float64
gid                       int64
indice_des               object
dtype: object

* La instrucción **.count()** aplicada al DataFrame regresa el no. de observaciones válidas en cada columna

In [11]:
consumodf.count()

id                      71102
geo_point_2d            71102
geo_shape               71078
consumo_total_mixto     62775
anio                    71102
nomgeo                  71102
consumo_prom_dom        66282
consumo_total_dom       66282
alcaldia                71102
colonia                 71102
consumo_prom_mixto      62775
consumo_total           71102
consumo_prom            71102
consumo_prom_no_dom     71102
bimestre                71102
consumo_total_no_dom    71102
gid                     71102
indice_des              71102
dtype: int64

* Si queremos saber los valores que toma cada columna y el no. de observaciones que tiene cada valor, utilizamo la instrucción **.value_counts()**

 **Sintaxis:** nombredataframe["columna"].value_counts()

In [12]:
consumodf["alcaldia"].value_counts()

IZTAPALAPA             10515
GUSTAVO A. MADERO      10058
CUAUHTEMOC              7313
BENITO JUAREZ           6049
VENUSTIANO CARRANZA     5179
MIGUEL HIDALGO          5110
COYOACAN                4947
AZCAPOTZALCO            4216
ALVARO OBREGON          4140
IZTACALCO               3469
TLALPAN                 3204
XOCHIMILCO              2450
TLAHUAC                 1955
MAGDALENA CONTRERAS      955
CUAJIMALPA               892
MILPA ALTA               650
Name: alcaldia, dtype: int64

* Para conocer los valores únicos de una columna utilizamos la instrucción **.unique()**, esta instrucción regresa un arreglo con la información delos valores únicos que aparecen en la columna y el tipo de datos

   **Sintaxis:** unicos= nombredataframe["columna"].unique()

In [13]:
unique = consumodf["bimestre"].unique()
unique

array([3, 1, 2])

# OPERACIONES CON COLUMNAS

Por ahora, los comandos utilizados nos permiten tener una idea general de lo que hay en la base de datos.
A fin de realizar un análisis más profundo de la información que contiene nuestro DataFrame, es necesario renombrar y reorganizar columnas, así como limpiar algunos registros.

Utilizaremos algunos nuevos comandos para este propósito.

* **ELIMINAR:** Vamos a conservar sólo las columnas que necesitamos, en este caso no vamos a utilizar la información geográfica por lo que debemos eliminar las columnas con dicha información.
Por otra parte la información de la columna 'nomgeo'está repetida en la columna "alcaldía"; por lo que vamos a eliminar esta información.
 Utilizamos el comando **.drop**
   
 **Sintaxis:** nombredataframe.drop(["columna1,"columna n"], axis=1, inplace=True)

In [14]:
consumodf.drop(["geo_point_2d", "geo_shape"], axis=1, inplace=True)
consumodf.head(5)

,id,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,0,159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.24,631.00,42.066667,3.05,3,3.05,57250,ALTO
1,1,0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,115.13,28.782500,7.32,3,7.32,57253,MEDIO
2,2,0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,197.96,32.993333,75.03,3,75.03,57255,POPULAR
3,3,0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,253.53,84.510000,84.51,3,253.53,57267,BAJO
4,4,56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.72,839.35,76.304545,121.57,3,243.14,57330,BAJO

 * **RENOMBRAR** Vamos a renombrar algunas columnas para aclarar su significado y a reorganizar el orden de aparición de las mismas. Para ello vamos a utilizar el comando **df.rename**

 **Sintaxis:** dataframe=dataframe.rename(columns={"Nombreactual": "Nuevonombre", "Nombreactual": "Nuevonombre"})

Los nombres de las columnas serán lo siguientes:

 * anio=año
 * consumo_total_mixto= CTMixto
 * consumo_prom_mixto= CPMixto
 * consumo_prom_dom= CPDomestico
 * consumo_total_dom=CTDomestico
 * consumo_prom_no_dom= CPNODomestico
 * consumo_total_no_dom=CTNODomestico

In [15]:
consumodf = consumodf.rename(columns={"anio":"año","consumo_total_mixto":"CTMixto", "consumo_prom_mixto":"CPMixto",
                                      "consumo_prom_dom":"CPDomestico","consumo_total_dom":"CTDomestico",
                                      "consumo_prom_no_dom":"CPNODomestico","consumo_total_no_dom":"CTNODomestico"})
consumodf.head()

,id,CTMixto,año,nomgeo,CPDomestico,CTDomestico,alcaldia,colonia,CPMixto,consumo_total,consumo_prom,CPNODomestico,bimestre,CTNODomestico,gid,indice_des
0,0,159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.24,631.00,42.066667,3.05,3,3.05,57250,ALTO
1,1,0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,115.13,28.782500,7.32,3,7.32,57253,MEDIO
2,2,0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,197.96,32.993333,75.03,3,75.03,57255,POPULAR
3,3,0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,253.53,84.510000,84.51,3,253.53,57267,BAJO
4,4,56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.72,839.35,76.304545,121.57,3,243.14,57330,BAJO

* **REORGANIZAR:** Vamos a reorganizar las columnas y a conservar sólo aquellas que vamos a utilizar, para ello se utiliza la sigiente sintaxis. Los nombres de las columnas van en el órden que nosotros establezcamos.

  **Sintaxis:** nombredataframe=nombredataframe[["nombre columna1","nombre columna2",..."nombre columnan"]]

In [16]:
consumodf = consumodf[["año","alcaldia","colonia","bimestre","indice_des","CPDomestico","CTDomestico","CPNODomestico","CTNODomestico","CPMixto","CTMixto","consumo_total","consumo_prom"]]
consumodf

,año,alcaldia,colonia,bimestre,indice_des,CPDomestico,CTDomestico,CPNODomestico,CTNODomestico,CPMixto,CTMixto,consumo_total,consumo_prom
0,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,ALTO,42.566364,468.23,3.050000,3.05,53.240000,159.72,631.00,42.066667
1,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,MEDIO,35.936667,107.81,7.320000,7.32,0.000000,0.00,115.13,28.782500
2,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,POPULAR,24.586000,122.93,75.030000,75.03,0.000000,0.00,197.96,32.993333
3,2019,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,3,BAJO,0.000000,0.00,84.510000,253.53,0.000000,0.00,253.53,84.510000
4,2019,AZCAPOTZALCO,PROHOGAR,3,BAJO,67.436250,539.49,121.570000,243.14,56.720000,56.72,839.35,76.304545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,2019,CUAUHTEMOC,GUERRERO,1,BAJO,20.053112,3930.41,13.687308,355.87,NaN,NaN,4286.28,19.307568
71098,2019,CUAUHTEMOC,GUERRERO,1,POPULAR,21.126615,9549.24,13.506923,175.59,35.650001,71.30,9796.12,20.976702
71099,2019,CUAUHTEMOC,GUERRERO,1,BAJO,27.527778,4707.25,15.093334,226.40,94.894999,759.16,5692.81,29.344381
71100,2019,CUAUHTEMOC,GUERRERO,1,BAJO,30.605000,550.89,9.610000,9.61,100.662498,402.65,963.15,41.876087
71101,2019,CUAUHTEMOC,GUERRERO,1,BAJO,22.507710,8552.94,15.034444,405.93,13.733333,41.20,9000.07,21.951366

# LIMPIANDO DATOS

* Observa que la información de la columna alcaldía contiene errores e inconsistencias en algunos de los registros

In [17]:
consumodf["alcaldia"].value_counts()

IZTAPALAPA             10515
GUSTAVO A. MADERO      10058
CUAUHTEMOC              7313
BENITO JUAREZ           6049
VENUSTIANO CARRANZA     5179
MIGUEL HIDALGO          5110
COYOACAN                4947
AZCAPOTZALCO            4216
ALVARO OBREGON          4140
IZTACALCO               3469
TLALPAN                 3204
XOCHIMILCO              2450
TLAHUAC                 1955
MAGDALENA CONTRERAS      955
CUAJIMALPA               892
MILPA ALTA               650
Name: alcaldia, dtype: int64

* **REEMPLAZAR VALORES:** Para corregir esta situación utilizamos la instrucción **.replace**

  **Sintaxis:** nombredataframe["columna"]=nombredataframe["columna"].replace({'Valor actual': 'Nuevo Valor', 'Valor actual': 'Nuevo Valor'})

In [18]:
consumodf["alcaldia"] = consumodf["alcaldia"].replace(
                                    {'IZTAPALAPA': 'IZP'}
)

* Comprobamos que efectivamente se han reemplazado los datos

In [19]:
consumodf["alcaldia"].value_counts()

IZP                    10515
GUSTAVO A. MADERO      10058
CUAUHTEMOC              7313
BENITO JUAREZ           6049
VENUSTIANO CARRANZA     5179
MIGUEL HIDALGO          5110
COYOACAN                4947
AZCAPOTZALCO            4216
ALVARO OBREGON          4140
IZTACALCO               3469
TLALPAN                 3204
XOCHIMILCO              2450
TLAHUAC                 1955
MAGDALENA CONTRERAS      955
CUAJIMALPA               892
MILPA ALTA               650
Name: alcaldia, dtype: int64

* **CAMBIANDO EL TIPO DE DATOS:** 
Ahora vamos a cambiar el tipo de datos de algunas columnas con la instrucción **.astype**
Iniciamos el proceso revisando el tipo de datos actual de cada columna.

  **Sintaxis:** dataFrame.dtypes

In [20]:
consumodf.dtypes

año                int64
alcaldia          object
colonia           object
bimestre           int64
indice_des        object
CPDomestico      float64
CTDomestico      float64
CPNODomestico    float64
CTNODomestico    float64
CPMixto          float64
CTMixto          float64
consumo_total    float64
consumo_prom     float64
dtype: object

* Vamos a cambiar año y bimestre a tipo string y, la columna "indice_des" a categoría aplicando la  instrucción **.astype.**
 
 Formateamos las columnas float a 2 decimales

In [24]:
consumodf = consumodf.round(2)
consumodf

,año,alcaldia,colonia,bimestre,indice_des,CPDomestico,CTDomestico,CPNODomestico,CTNODomestico,CPMixto,CTMixto,consumo_total,consumo_prom
0,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,ALTO,42.57,468.23,3.05,3.05,53.24,159.72,631.00,42.07
1,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,MEDIO,35.94,107.81,7.32,7.32,0.00,0.00,115.13,28.78
2,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,POPULAR,24.59,122.93,75.03,75.03,0.00,0.00,197.96,32.99
3,2019,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,3,BAJO,0.00,0.00,84.51,253.53,0.00,0.00,253.53,84.51
4,2019,AZCAPOTZALCO,PROHOGAR,3,BAJO,67.44,539.49,121.57,243.14,56.72,56.72,839.35,76.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,2019,CUAUHTEMOC,GUERRERO,1,BAJO,20.05,3930.41,13.69,355.87,NaN,NaN,4286.28,19.31
71098,2019,CUAUHTEMOC,GUERRERO,1,POPULAR,21.13,9549.24,13.51,175.59,35.65,71.30,9796.12,20.98
71099,2019,CUAUHTEMOC,GUERRERO,1,BAJO,27.53,4707.25,15.09,226.40,94.89,759.16,5692.81,29.34
71100,2019,CUAUHTEMOC,GUERRERO,1,BAJO,30.61,550.89,9.61,9.61,100.66,402.65,963.15,41.88
71101,2019,CUAUHTEMOC,GUERRERO,1,BAJO,22.51,8552.94,15.03,405.93,13.73,41.20,9000.07,21.95

In [25]:
#consumodf.round(2)
consumodf["año"]=consumodf["año"].astype(str)
consumodf["bimestre"]=consumodf["bimestre"].astype(str)
consumodf["indice_des"]=consumodf["indice_des"].astype('category')
consumodf

,año,alcaldia,colonia,bimestre,indice_des,CPDomestico,CTDomestico,CPNODomestico,CTNODomestico,CPMixto,CTMixto,consumo_total,consumo_prom
0,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,ALTO,42.57,468.23,3.05,3.05,53.24,159.72,631.00,42.07
1,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,MEDIO,35.94,107.81,7.32,7.32,0.00,0.00,115.13,28.78
2,2019,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,POPULAR,24.59,122.93,75.03,75.03,0.00,0.00,197.96,32.99
3,2019,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,3,BAJO,0.00,0.00,84.51,253.53,0.00,0.00,253.53,84.51
4,2019,AZCAPOTZALCO,PROHOGAR,3,BAJO,67.44,539.49,121.57,243.14,56.72,56.72,839.35,76.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,2019,CUAUHTEMOC,GUERRERO,1,BAJO,20.05,3930.41,13.69,355.87,NaN,NaN,4286.28,19.31
71098,2019,CUAUHTEMOC,GUERRERO,1,POPULAR,21.13,9549.24,13.51,175.59,35.65,71.30,9796.12,20.98
71099,2019,CUAUHTEMOC,GUERRERO,1,BAJO,27.53,4707.25,15.09,226.40,94.89,759.16,5692.81,29.34
71100,2019,CUAUHTEMOC,GUERRERO,1,BAJO,30.61,550.89,9.61,9.61,100.66,402.65,963.15,41.88
71101,2019,CUAUHTEMOC,GUERRERO,1,BAJO,22.51,8552.94,15.03,405.93,13.73,41.20,9000.07,21.95

* Comprobamos el cambio en el tipo de datos

In [26]:
consumodf.dtypes

año                object
alcaldia           object
colonia            object
bimestre           object
indice_des       category
CPDomestico       float64
CTDomestico       float64
CPNODomestico     float64
CTNODomestico     float64
CPMixto           float64
CTMixto           float64
consumo_total     float64
consumo_prom      float64
dtype: object

**VALORES PERDIDOS nan y 0**
Ahora revisemos los registros en 0 y los valores perdidos
Para recabar la información utilizamos un "loop" o iteración en cada columna.
* 1) La instrucción **consumodf.columns:** nos da como resultado una lista con los nombres de las columnas
* 2) de esta lista vamos seleccionado cada elemento (i) con la instrucción **  for i in consumodf.columns:**
* 3) por cada elemento(i) le pedimos a python que imprima (i) y aplique **consumodf[i].value_counts()** instrucción que nos mostrará los valores que toma (i)

In [27]:
for i in consumodf.columns:
    print(i)
    print(consumodf[i].value_counts())

año
2019    71102
Name: año, dtype: int64
alcaldia
IZP                    10515
GUSTAVO A. MADERO      10058
CUAUHTEMOC              7313
BENITO JUAREZ           6049
VENUSTIANO CARRANZA     5179
MIGUEL HIDALGO          5110
COYOACAN                4947
AZCAPOTZALCO            4216
ALVARO OBREGON          4140
IZTACALCO               3469
TLALPAN                 3204
XOCHIMILCO              2450
TLAHUAC                 1955
MAGDALENA CONTRERAS      955
CUAJIMALPA               892
MILPA ALTA               650
Name: alcaldia, dtype: int64
colonia
CENTRO                  1139
AGRICOLA ORIENTAL        837
ROMA NORTE               602
MOCTEZUMA 2A SECCION     558
JARDIN BALBUENA          498
                        ...
HUIZACHITO                 2
PIRU SECC. I               2
CALZADA JALALPA            2
SANTISIMA TRINIDAD         1
U. HAB. NUEVA ROSITA       1
Name: colonia, Length: 1340, dtype: int64
bimestre
2    23942
3    23822
1    23338
Name: bimestre, dtype: int64
indice_des
BAJO       29248
POPULAR    16539
ALTO       15516
MEDIO       9799
Name: indice_des, dtype: int64
CPDomestico
0.00      9861
20.48       45
23.18       44
21.96       42
21.35       39
          ...
222.14       1
92.18        1
62.56        1
63.39        1
3.30         1
Name: CPDomestico, Length: 7479, dtype: int64
CTDomestico
0.00       9861
1.22         37
10.98        21
14.64        20
3.66         20
           ...
349.02        1
707.75        1
755.98        1
2953.59       1
1304.63       1
Name: CTDomestico, Length: 47048, dtype: int64
CPNODomestico
0.00      8109
1.22       352
1.83       297
3.05       264
4.27       221
          ...
103.23       1
103.27       1
646.71       1
114.97       1
120.67       1
Name: CPNODomestico, Length: 15758, dtype: int64
CTNODomestico
0.00       8109
1.22        402
1.83        316
3.05        302
7.93        219
           ...
192.44        1
44.88         1
23.46         1
684.03        1
1474.16       1
Name: CTNODomestico, Length: 27336, dtype: int64
CPMixto
0.00      17715
36.60        68
17.70        66
18.30        65
36.00        63
          ...
136.60        1
142.83        1
427.94        1
104.16        1
308.55        1
Name: CPMixto, Length: 13543, dtype: int64
CTMixto
0.00       17715
36.00         74
17.70         61
36.60         59
18.30         54
           ...
326.24         1
275.51         1
1428.80        1
620.59         1
120.67         1
Name: CTMixto, Length: 24339, dtype: int64
consumo_total
0.00       2451
3.05         70
1.22         68
3.66         42
6.71         41
           ...
740.42        1
7506.75       1
4375.88       1
2692.06       1
5411.66       1
Name: consumo_total, Length: 56015, dtype: int64
consumo_prom
0.00       2451
1.22         64
3.05         56
4.27         46
24.40        46
           ...
130.69        1
71.86         1
60.06         1
3991.23       1
253.41        1
Name: consumo_prom, Length: 13256, dtype: int64

* Como podemos observar en casi todas las columnas hay nan y valores 0.

* Para **eliminar** los valores en **0 utilizamos la instrucción .drop.**
  Apliquemos esta instrucción en una de las columnas de nuestro DataFrame

In [28]:
consumodf = consumodf.drop(consumodf[consumodf['CPDomestico']==0].index)

In [29]:
consumodf['CPDomestico'].value_counts()

20.48     45
23.18     44
21.96     42
21.35     39
26.84     38
          ..
74.11      1
71.38      1
65.71      1
106.75     1
61.41      1
Name: CPDomestico, Length: 7478, dtype: int64

# EJERCICIO : UTIILIZANDO LOS NOMBRES DE LAS COLUMNAS QUE SE MUESTRAN DEBAJO COMPLETA LA INFORMACIÓN FALTANTE PARA ELIMINAR LAS FILAS CON REGISTROS EN 0
En este caso vamos a elimiar todas esas filas para ilustrar algunos comandos, ¿tendría sentido eliminar todas las filas con valores en 0 en otro contexto?

In [ ]:
consumodf.columns

In [ ]:
consumodf = consumodf.drop(consumodf[consumodf['CTDomestico']==0].index)
consumodf = .drop([consumodf['CPNODomestico']==0].)
consumodf = consumodf.drop(consumodf[consumodf['CTNODomestico']==0].index)
consumodf = consumodf.drop(consumodf[consumodf['CPMixto']==0].index)
 = .drop([consumodf['']==0].index)
consumodf = consumodf.drop(consumodf[consumodf['consumo_total']==0].index)
 =(consumodf[consumodf['consumo_prom']==0].)

**VALORES PERDIDOS**
Iniciaremos este proceso revisando los valores perdidos con .count()

In [ ]:
consumodf.count()

* Utilizamos   la instrucción **.dropna** para eliminar las filas con información faltante

In [ ]:
consumodf = consumodf.dropna(how="any")
consumodf.count()

# GUARDANDO EL DATAFRAME LIMPIO

**GUARDAMOS EL DATAFRAME EN UN NUEVO ARCHIVO**

Observa que colocamos dos características a nuestra exportación 1)index y 2)header :

* **Index False** exportará nuestro DataFRame sin la columna del índice generado por python y
* **header True** guardará los nombres de las columnas como encabezados en el csv

Siempre es recomendable tener una copia de tus datos limpios.

In [31]:
consumodf.to_csv("baseconsumolimpia.csv",
                  encoding="utf-8", index=False, header=True)

* Vamos a leer nuevamente los datos, pero ahora desde nuestro archivo limpio, ¿recuerdas como se hace?

In [32]:
aguacsv="baseconsumolimpia.csv"

In [33]:
consumodf = pd.read_csv(aguacsv,encoding="UTF-8")

# RESUMEN DE LA INFORMACIÓN

* Vamos a hacer un resumen estadístico del DataFrame con la instrucción **.describe**

In [34]:
consumodf.describe()

,año,bimestre,CPDomestico,CTDomestico,CPNODomestico,CTNODomestico,CPMixto,CTMixto,consumo_total,consumo_prom
count,61241.0,61241.000000,56421.000000,56421.000000,61241.000000,61241.000000,52936.000000,52936.000000,61241.000000,61241.000000
mean,2019.0,1.928381,34.224003,1393.593249,86.066418,369.721983,57.952105,202.879198,1828.998249,68.209907
std,0.0,0.827159,68.724876,2954.958223,710.066586,1633.853180,132.133144,325.676197,3461.743068,662.009155
min,2019.0,1.000000,0.010000,0.120000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.0,1.000000,22.440000,362.710000,6.540000,11.870000,17.290000,27.320000,513.650000,24.100000
50%,2019.0,2.000000,28.800000,750.110000,18.780000,54.290000,39.950000,114.860000,1019.350000,31.810000
75%,2019.0,3.000000,38.400000,1433.510000,48.680000,219.630000,67.160000,269.707500,1948.710000,43.460000
max,2019.0,3.000000,7796.410000,95060.690000,89691.770000,101035.000000,11702.220000,23404.440000,101035.000000,89691.770000

**MEAN, MIN Y MAX:** Aunque el resumen  que **.describe** nos muestra  es útil, podemos mejorar la forma en la que presentamos nuestra información
* Obtengamos el **promedio deL CONSUMO TOTAL(MEAN), del CONSUMO DOMÉSTICO Y NO DOMÉSTICO, así como sus valores máximos (MAX) y mínimos (MIN)**

In [ ]:
promedio_consumo_total = consumodf["consumo_total"].mean()
CTMIN = consumodf["consumo_total"].min()
CTMAX= consumodf["consumo_total"].max()
promedio_consumo_total_Doméstico = consumodf["CTDomestico"].mean()
CDMIN = consumodf["CTDomestico"].min()
CDMAX= consumodf["CTDomestico"].max()
promedio_consumo_total_NoDoméstico = consumodf["CTNODomestico"].mean()
CNDMIN = consumodf["CTNODomestico"].min()
CNDMAX= consumodf["CTNODomestico"].max()

In [ ]:
promedio_consumo_total

In [ ]:
CDMIN



* **LEN, UNIQUE:** calcularemos también el número total de colonias en la base de datos utilizando **.unique y len()**

In [ ]:
total_colonias = len(consumodf["colonia"].unique())
total_colonias

In [ ]:
consumodf["colonia"]

In [ ]:
CNDMAX

* Guardemos nuestros cálculos en un nuevo DataFrame

**Sintaxis:** nombredataFrame=pd.DataFrame({"Nombrecolumna":[nombrevariablecreada],"Nombrecolumna":[nombrevariablecreada]})

In [ ]:

resumen = pd.DataFrame({"Promedio del consumo total": promedio_consumo_total,"Colonias": [total_colonias],
                        "CTotal Min": [CTMIN],"CTotal MAx": [CTMAX],
                              "Promedio del consumo total Doméstico": [promedio_consumo_total_Doméstico],
                               "CDomestico Min": [CDMIN],"CDomestico Max": [CDMAX],
                              "Promedio del consumo total NO Doméstico": [promedio_consumo_total_NoDoméstico],
                        "CNDomestico Min": [CNDMIN],"CNDomestico Max": [CNDMAX],})
resumen

# FILTRADO DE COLUMNAS, RESUMEN DE LA INFORMACIÓN
Para nuestros propósitos,probablemente,es mucho más interesante analizar los datos desagregando la información por Alcaldia, bimestre, colonia o categoría del índice de desarrollo.
Para llevar a cabo dicho análisis es necesario aplicar filtros y agrupar información

#  .ILOC, .LOC
Los comandos .iloc y .loc  son útiles para seleccionar información.

* El método **.ILOC** se utiliza para seleccionar en un DataFrame filas y/o columnas por su **ubicación.**
* Se utiliza la sintáxis **dataframe.iloc[ filas , columnas]**
  * Por ejemplo vamos a seleccionar en nuestro DataFrame resumen la información del **No. Total de Colonias** presente en la base de datos de consumo de agua. Recuerda que en python se cuenta a partir de 0 tanto filas como columnas, por ello para seleccionar la fila  1,segunda columna colocamos 0, 1

In [ ]:
resumen.iloc[0,1]

* Otra opción es seleccionar directamente la columna 2, sin colocar la referencia a la fila(es factible en este caso por que el DataFrame solo contiene 1 fila, este tipo de selección traerá el contenido completo de la columna)
**dataframe.iloc[:, columna]**

In [ ]:
resumen.iloc[:,1]

* Para seleccionar toda una fila se omite la información de columnas **dataframe.iloc[fila,:]**

In [ ]:
resumen.iloc[0,:]

 **.LOC:** La selección de información mediante el comando **.loc** puede resultar mucho más interesante
* El método .loc puede ser utilizado de  dos formas diferentes: 
 **1)** Para seleccionar filas o columnas mediante una etiqueta y  **2)** Para seleccionar filas que cumplen una condición:
    * Para ilustrae el primer caso regresando a nuestro DataFrame de consumo de agua, podemos seleccionar toda la información de la columna "Consumo promedio doméstico" haciendo referencia a su etiqueta

In [ ]:
consumodf.loc[:, 'CPDomestico']

* Podemos seleccionar diversas columnas, pasando como parámetro un arreglo con los nombres de las columnas
* El resultado al utilizar .loc es un DataFrame

In [ ]:
consumodf.loc[:, ['CPDomestico','CTDomestico','CPNODomestico','CTNODomestico']]

* Podríamos limitar la consulta a un número determinado de filas, por las primeras 5

In [ ]:
consumodf.loc[10:14:,['CPDomestico','CTDomestico','CPNODomestico','CTNODomestico']]

**2)** seleccionar filas o columnas que cumplen una condición.
* Supongamos que estamos interesados en seleccionar la información de una colonia en particular para analizar los distintos tipos de consumos de agua

In [ ]:
copilcoU=consumodf.loc[consumodf.loc[:, 'colonia'] == "COPILCO UNIVERSIDAD"]
copilcoU

* También podemos seleccionar filas que cumplan varias condiciones;
por ejemplo la información de la colonia  COPILCO UNIVERSIDAD para el segundo y tercer bimestre

In [ ]:
copilcoU2=consumodf.loc[(consumodf.loc[:, 'colonia'] != "COPILCO UNIVERSIDAD")&((consumodf['bimestre'] <=2))]
copilcoU2

In [ ]:
copilcoU3 = copilcoU.loc[copilcoU.loc[:, 'bimestre'] == 2]
copilcoU3

# ORDENANDO LOS DATOS

**SORT**
* Observando los datos, identificamos que la información de las columna bimestre aparece de forma desordenada combinando 2 y 3
* Podemos ordenar los datos del DataFrame copilcoU2

In [ ]:
copilcoU2ordenado= copilcoU2.sort_values(["CPNODomestico"], ascending=True)
copilcoU2ordenado.head()

* Inclusive podemos **ordenar los datos por más de una columna**

In [ ]:
copilcoU2ordenado= copilcoU2.sort_values(["bimestre","indice_des"], ascending=True)
copilcoU2ordenado.head()

In [ ]:
consumodf['indice_des']

# AGRUPANDO CON GROUP BY
Es posible que estemos interesado en analizar los datos desde el punto de vista de algún tipo de agrupación presente en los datos.

Por ejemplo **analizar por separado la información de las colonias etiquetadas con un índice de desarrollo "ALTO" vs las etiquetadas con un índice de desarrollo "BAJO".**

Para realizar este tipo de análisis vamos a utilizar la instrucción **group.by**

* Vamos a analizar los datos del DataFrame consumodf para comparar los consumos de agua de las colonias según su  índice desarrollo
* **La instrucción .groupby crea un objeto, a partir del cual podremos obtener información de los grupos**

In [ ]:
gruposdesarrollo=consumodf.groupby(['indice_des'])
gruposdesarrollo

**.GROUP.KEYS** Esta instrucción mostrará los grupos que se identifican en el DataFrame a partir de los valores únicos presentes en la columna

In [ ]:
consumodf.groupby(['indice_des']).groups.keys()

In [ ]:
gruposdesarrollo.groups.keys()

* Si queremos saber **cuántos elementos integran cada grupo** podemos utilizar la instruccion **len** y la etiqueta del grupo

In [ ]:
alto=len(consumodf.groupby(['indice_des']).groups['ALTO'])
bajo=len(consumodf.groupby(['indice_des']).groups['BAJO'])
medio=len(consumodf.groupby(['indice_des']).groups['MEDIO'])
popular=len(consumodf.groupby(['indice_des']).groups['POPULAR'])
alto,medio,bajo,popular

**.GROUPBY .MEAN** Podemos obtener el promedio de consumo total por cada grupo

In [ ]:
consumodf.groupby('indice_des')['consumo_total'].mean()

**.GROUPBY .NUNIQUE:** Podemos obtener el numero total de colonias que se incluyen en cada grupo

In [ ]:
consumodf.groupby('indice_des')["colonia"].nunique()

# MERGE
Un problema común en el análisis de datos es la necesidad de tener que incorporar nueva información.
Python cuenta con varios métodos para realizar esta tarea, cada uno es útil dependiendo cómo queremos incluir nuestra información y la estructura de los datos a los que la anexaremos.

* Para identificar si los consumos de agua son altos o bajos, debemos considerar alguna medida que nos permita tener referencia, por ejemplo los litros consumidos por el número de habitantes de la alacldia
 nuestra información no contiene datos sobre la población, por lo que debemos incorporar este dato.
* Tomamos información sobre las proyecciones de población que realiza CONAPO, estos datos están a nivel alcaldia , por lo que primero debemos obtener un DataFrame con la información resumida a ese nivel
* Despues vamos a unir la información de población mediante el comando .merge y realizaremos algunos cálculos para analizar los consumos de agua:

**1)** consideremos inicialmente únicamente la información de los consumos tootales

In [ ]:
consumototalc=consumodf.groupby('alcaldia')['CTDomestico','CTNODomestico','CTMixto','consumo_total'].sum()
consumototalc

**2** Vamos a leer los datos de nuestro archivo de población**

In [ ]:
poblacioncsv ="proyeccionespoblac2019alcaldias.csv"
poblac2019cdmx= pd.read_csv(poblacioncsv,encoding="UTF-8")
poblac2019cdmx

In [ ]:
dataframecompleto = pd.merge(poblac2019cdmx, consumototalc, how='outer', on='alcaldia')
dataframecompleto

* Calcularemos el consumo total/la población total de la alcaldia y agregaremos esta información como una nueva columna

In [ ]:
CTpPobtot = dataframecompleto ["consumo_total"]/dataframecompleto ["Pob_Tot2019"]
dataframecompleto["CTpPobtot"] = CTpPobtot
dataframecompleto

In [ ]:
dataframecompleto["CTpPobtot"].describe().round()

**BINING**

Vamos a dividir nuestros datos en distintas categorías a partir de la información  de el Consumo TOtal/Población
para ello utilizaremos el comando **pd.cut y la instrucción bins**
Los bins deben considerar el rango completo de la variable que vamos a categorizar(cada bin establece el límite de la categiría)
Los nombres de los grupos deben ser no.bins-1.

In [ ]:
bins = [0, 3, 6, 13, 23, 34]
group_names = ["MUY BAJO", "BAJO", "MEDIO", "ALTO", "MUY ALTO"]
dataframecompleto["Categoriaconsumo"] = pd.cut(dataframecompleto["CTpPobtot"], bins, labels=group_names)
dataframecompleto

In [ ]:
#Guardemos nuestro DataFrame en un nuevo csv
dataframecompleto.to_csv("basecompletaconpob.csv",  encoding="utf-8", index=False, header=True)

# OPERADORES Y CONDICIONALES

*Para realizar comparaciones en Python se utilizan diversos operadores, entre los más comúnes
se encuentran:

**== igual**

**!= distinto de** 

**<*menor que**

**> mayor que** 

**>= mayor o igual que**

**and** 

**or**

#### **IF**

La instrucción **IF en conjunto con los operadores lógicos** permiten que un programa ejecute una o más  instrucciones al al cumplirse una condición.

**La sintaxis de la instrucción if es la siguiente:**

   * Se establecen los valores de las variables a comparar (sí aplica).
    
   * Se evalúa la condición IF
    
   * Sí el resultado es **True** se ejecuta el bloque de sentencias
    
   * Sí el resultado es **False** no se ejecuta el bloque de sentencias.

In [ ]:
#EJEMPLO
x = 1
y = 1
if x == y:
    print("x is equal to y")
    x = (x)+1
    y= (y)+1
    print(x)
    print(y)

In [ ]:
#EJEMPLO
x = 1
y = 2
if x == y:
    print("x is equal to y")
    x = (x)+1
    y= (y)+1
    print(x)
    print(y)

#### **IF ELSE** --  IF ANIDADOS CON MÁS DE DOS CONDICIONES

**IF, ELIF, ELSE** 
Estas tres instrucciones  permiten establecer instrucciones para **más de un escenario.**
Cuando sólo teníamos IF,  establecimos condiciones para el caso en el que la evaluación de IF da como resultado "True", al agregar ELSE podemos establecer instrucciones para el caso en el que la evaluación de IF da como resultado "False"

Si además añadimos ELIF(contracción de else if) estamos incluyendo un escenario adicional para comparar nuestras variables.

In [ ]:
#EJEMPLO 1 IF ELSE
x = 1
y = 10
if x == y:#La primera línea contiene la condición a evaluar y es una expresión lógica. Esta línea debe terminar siempre por dos puntos (:).
    print("x is equal to y")#loque de órdenes que se ejecutan cuando la condición se cumple (es decir, cuando la condición es verdadera). 
else:#si la condición anterior no se cumple
     print("x is not equal to y")

In [ ]:
#EJEMPLO 2 IF ELIF ELSE
x = 100
y = 100
if x > y:#condición_1:
    print("x es mayor") #bloque 1
elif x < y: #condición_2:
    print("x es menor") #bloque 2
else:
    print("x es igual a y")#bloque 3

# LOOPS/CICLOS FOR,  WHILE
Un For Loop o ciclo for, recorre cada uno de los elementos de una lista y ejecuta por cada elemento la condición establecida.

**Ejemplo 1 For Loop en un rango de números**, si sólo se provee un número, se ejecutara la condición desde 0 hasta el número provisto

In [ ]:
for x in range(10):
    print(x)

**Ejemplo 2 For Loop en un rango entre dos números,** si provee un número inicial y uno final , se ejecutara la condición hasta alcanzar el número final

In [ ]:
for x in range(20, 30):
    print(x)

**Ejemplo 3 For Loop en un una lista** si se provee una lista, la instrucción se ejecutará por cada elemento dentro de la lista

In [ ]:
palabras= ["Sandía", "Canela", "Azul", "Tiempo", "Ayer", "Hoy"]
for palabra in palabras:
    print(palabra)

**Ejemplo 4 While Loop**  Este tipo de ciclos continuará ejecutando la instrucción establecida hasta que se cumple cierta condición

In [ ]:
x = "A"
while x == "A":
    print("Primera letra del Abecedario")
    x = input("Introduce otra letra ")

# EJERCICIOS 
Completa la información necesaria para ejecutar los siguientes Loops

In [ ]:
#Ejecuta  un rango de números (0 al 4)
for x in range():
    print(x)
    print("Muy bien,entendiste el ejericio!")

In [ ]:
#Ejecuta un loop de números del 2 al 6 inclusive
 x in range(, ):
    print(x)

In [ ]:
#Itera cada una de las letras en una palabra
palabra = "Econometría"
for letra in palabra:
    print(letra)

In [ ]:
#Itera cada uno de los elementos en una lista
canasta = ["leche", "carne", "jitomate", "lechuga"]
for  in :
    print()

In [ ]:
# Ejecuta la instrucción hasta que se cumpla una  a condition
run = "y"
while run == "y":
    print("Hi!")
    run = input("To run again. Enter 'y'")

**LIST COMPREHENSION**
Permite crear listas de forma simplificada y con menor cantidad de código.
El resultado siempres será una lista.

**Ejemplo 1:** Queremos guardar cada una de las letras que componen una palabra en una lista para cambiarla a mayúscula e imprimir todas las letras.
Como ya hemos visto, podemos utilizar un ciclo for para este propósito

In [ ]:
palabra = "Parangaricutirimicuaro" # guardamos en una variable nuestra palabra
letras = [] #creamos una lista vacia en la que se van a ir agregando las letras de nuestra palabra
for letra in palabra:# iniciamos nuestro ciclo for
        letras.append(letra.upper()) # letra.upper(convierte a mayúscula la letra dentro del ciclo)
                                     # letras.append(listavacia.append esta instrucción "agrega" la letra en mayúscula a la lista llamada letras)
print(letras)

* Con **LIST COMPREHENSION** podemos ejecutar la misma tarea con un código simplificado

**Sintaxis:** variable para guardar la lista = [Expresion para aplicar a cada elemento() ciclo for]

In [ ]:
palabra = "Parangaricutirimicuaro"
letras = [letra.upper() for letra in palabra]
print(letras)

**Ejemplo 2: For en un rango**
Obtengamos el cuadrado de los número pares que hay en un rango del 0 al 9

In [ ]:
# variable para guardar la lista = [Expresion para aplicar a cada elemento() ciclo for range]   
cuadrados_pares = [num**2 for num in range(10) if num % 2 == 0]
print(cuadrados_pares)

**Ejemplo 3: For IF**

Podemos añadir un condicional (if) a un list comprehension.

* Supongamos que queremos un listado de las temperaturas más altas en una semana del mes de julio (mayores a 26 grados)
Tenemos un listado con el registro de temperaturas de cada día de la semana.
Con un clico for e If podemos seleccionar las temperaturas de los días más calurosos.

In [ ]:
temperatura_semanal= [27, 25, 22, 29, 30,26,32]
días_calurosos = []
for temperatura in temperatura_semanal:
    if temperatura > 26:
        días_calurosos.append(temperatura)
print(días_calurosos)

* Podemos hacer la misma selección utilizando list comprehension

In [ ]:
temperatura_semanal= [27, 25, 22, 29, 30,26,32]
días_calurosos = [temperatura for temperatura in temperatura_semanal if temperatura > 26]

print(días_calurosos)

* Utilizando **IF, CICLOS FOR Y LIST COMPRENHENSION** en PANDAS

In [ ]:
#Creamos un DataFrame de prueba
import pandas as pd
datos = {'nombre': ['Francisco', 'Julieta', 'Marcela', 'Joaquin', 'Carlos'], 
        'año': [2012, 2012, 2013, 2014, 2014], 
        'calificacion': [9, 7, 8, 10, 8]}
df = pd.DataFrame(datos)
df

**Creando una nueva columna con IF** 
* Estructura df.loc[df['nombre_columna'] condicion, 'nombre_nueva_columna'] = 'valor si la condición se cumple'
  Estructura df.loc[df['nombre_columna'] condicion, 'nombre_nueva_columna'] = 'valor si la condición  NO se cumple'

In [ ]:
df.loc[df['año'] > 2012 , '+2012'] = 'Verdadero' 
df.loc[df['año'] <= 2012, '+2012'] = 'Falso' 
df

**Ciclo for en pandas**

In [ ]:
import numpy as np
# Iteración por columnas del DataFrame:
cols=df.columns
upp=[]
for col in cols:
    upp.append(col.upper())
print(upp)

In [ ]:
# Iteración por filas del DataFrame:
for indice_fila, fila in df.iterrows():
    print(indice_fila)
    print(fila)

**Ejemplo List Comprehensions**
* Vamos a crear una columna nueva de **"año anterior"** restaremos 1 a la columna año utilizando list comprehension.

* **Sintaxis** nombredataframe[nombrecolumna] =[ciclo for para cada fila en la columna [nombrecolumna]]

In [ ]:
df['año_anterior'] = [row-1 for row in df['año']]
df